[Unit]
Description=Hello World Demo Spring Boot
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/java -jar /root/quiz-app-backend/target/ustoz-talim.jar
[Install]
WantedBy=multi-user.target

